.texteditor_container {
  width: 95%;
}

.toolbar {
  z-index: 2;
  border: solid 1px #ddd;
  background: #e9e3e3;
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
  position: fixed;
  top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.float {
  position: relative;
  left: 30px;
}

#url-input {
  top: 88px;
}

#url-input.hidden {
  top: 35px;
}

.link-bar {
  z-index: 1;
  border-style: none;
  position: fixed;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
  transition: all 0.1s linear;
}

.link-drawer {
  border: solid 1px #ddd;
  background-color: #e9e3e3;
  padding: 5px;
  grid-column-start: 4;
  width: 200px;
}

select {
  font-size: 18px;
  padding: 3px 8px;
  outline: none;
  border: 1px solid lightgray;
}

.toolbar > button {
  padding: 3px 10px;
  border: 1px transparent;
  outline: none;
  background-color: transparent;
}

.toolbar > button:hover {
  border: 1px solid lightgray;
  box-shadow: 3px 3px 8px lightgray;
  margin-left: -1px;
  margin-right: -1px;
}

.toolbar > button > svg {
  height: 17px;
  width: 17px;
}

.toolbar > button > svg:hover {
  box-shadow: 3px 3px 8px lightgray;
}

#title:empty:before,
.editor:empty:before {
  content: attr(data-placeholder);
  color: rgb(128, 128, 128);
}

.editor {
  z-index: 0;
  border: solid 1px #ccc;
  width: 95%;
  max-width: 80vw;
  background-color: #e9e3e3;
  min-height: 75vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 75px;
  font-size: 20px;
  box-shadow: 3px 3px 8px lightgray;
}

.editor > li {
  list-style: square;
  margin: initial;
}
#title {
  border: solid 1px #ccc;
  /* width: 95%; */
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 40px;
}
.editor:focus,
#title:focus {
  outline: none;
}
#title:empty:before,
.editor:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

.codeeditor_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************************/
/*** RUNNABLE CODEBLOCK/SNIPPET ***/
/**********************************/
.codeBlock {
  background-color: rgb(222, 222, 222);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 44px;
  font-family: 'Courier New', Courier, monospace !important;
  overflow: auto;
  color: rgb(0, 0, 0);
  padding: 8px;
  border: 0.5px solid gray;
  border-radius: 8px;
  /* display: inline-block; */
  white-space: normal;
  /* max-width: 680px; */
  font-size: 18px !important;
  font-style: none !important;
}

.code-block-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sandbox-stdout {
  color: rgb(0, 255, 0);
  margin: 5px;
  background-color: rgb(0, 0, 0);
  padding: 3px 12px;
  border-radius: 8px;
  isolation: isolate;
}

.run-code-button {
  border: none;
  background-color: transparent;
  outline: none;
  text-shadow: 2px 2px 3px gray;
  font-size: 12px;
  float: right;
  font-weight: bold;
}

.run-code-button:hover {
  font-size: 13px;
  /* color: red; */
}

/* .pre {
  background-color: lightgray;
  font-family: courier;
  padding: 0px 5px;
  border: .5px solid gray;
  border-radius: 8px;
  display: inline-block;
  color: black;
} */

.code-blocks {
  border: solid 1px #ccc;
  /* width: 95%; */
  max-width: 700px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 20px;
}

.code-block-container > .code-blocks {
  background-color: black;
  color: rgb(0, 222, 0);
  font-family: courier;
}

.code-block-container > .code-blocks::placeholder {
  color: rgb(0, 222, 0);
  font-family: courier;
}

/*****************************/
/*** CONTENT EDITABLE AREA ***/
/*****************************/

#contentEditable {
  padding: 20px 18px;
}

#contentEditable > h2 {
  margin: 0px 0px;
}

#contentEditable > h1 {
  margin: 0px 0px;
}

#contentEditable > div {
  margin: 0px 0px;
}

#contentEditable > div > * {
  margin: 0px 0px;
}
