body {
  padding-bottom: 30px;
}

p {
  font-size: 20px;
  margin: 1px 0px;
}

a {
  cursor: pointer;
}

/* h1 {
  display: inline;
}

h2 {
  display: inline;
} */

button.darkmode-toggle {
  background-color: transparent;
  z-index: 1;
}

body > div:nth-child(2) {
  background-color: transparent;
}
