/* * {
  margin: 0;
} */
.header_container {
  margin: -500px;
  display: flex;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #373d49;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid black;
}

.addMore {
  border: none;
  /* width: 32px;
  height: 32px; */
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.header-logo {
  width: 50px;
  object-fit: contain;
  margin: 10 30px;
  align-items: center;
  color: white;
  margin-left: 15px;
  filter: invert(100);
}
.header-name {
  font-family: source sans pro, helvetica neue, Helvetica, Arial, sans-serif;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: bold;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 20px;
  color: white;
}

.header-option > svg {
  font-size: 25px;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #a0aabf;
}

.header-nav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-option > svg {
  cursor: pointer;
}

.header-option > svg:hover {
  color: white;
}
