/* * {
  margin: 0;
} */
.header_container {
  margin: -500px;
  display: flex;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #373d49;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid black;
}

.addMore {
  border: none;
  /* width: 32px;
  height: 32px; */
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.header-logo {
  width: 50px;
  object-fit: contain;
  margin: 10px 10px;
  align-items: center;
  color: white;
  margin-left: 280px;
  filter: invert(100);
}
.header-name {
  font-family: source sans pro, helvetica neue, Helvetica, Arial, sans-serif;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-size: 20px;
  font-style: bold;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: fixed;
  left: 88px;
  top: 14px;
}

.header-logo:hover {
  width: 55px;
}

.header-option > svg {
  font-size: 25px;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #a0aabf;
}

.header-nav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-option > svg {
  cursor: pointer;
}

.header-option > svg:hover {
  color: white;
}

#app
  > div.header
  > div.header-nav
  > div:nth-child(1)
  > button
  > span.MuiIconButton-label
  > svg:hover {
  color: white;
}
.drawer-divider {
  top: 598px;
  /* padding-bottom: 1px; */
}

.drawer {
  display: flex;
  background-color: #373d49;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.drawer > h1 {
  font-family: source sans pro, helvetica neue, Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
  margin-left: 14px;
  font-style: bold;
  font-weight: 600;
  color: white;
}

.MuiSvgIcon-root {
  color: white;
}
